TESTING=True
DEBUG=True
FLASK_ENV=development
FLASK_APP=app
SECRET_KEY=']}(ls%`IwE~!>>$?T01Gn(@WBfX._<~~vG}bI<KhKtjmb/a8gAMziCA*Jd9M}EQ'
SQLALCHEMY_DATABASE_URI=postgresql://flask_user:flask_password@localhost:5432/test_db